@import url('https://fonts.googleapis.com/css2?family=Inria+Sans:wght@300;400;700&display=swap');

body {
    background: #1d1d1d;
    font-family: 'Inria Sans', sans-serif;
    height: 100vh;
    color: #dfdfdf;
    padding: 100px;
    /* width: 60%; */
}
header {
    display: inline-block;
    margin-bottom: 100px;
}

header img {
    width: 60px;
    border-radius: 50%;
}

aside {
    margin-right: 100px;
    width: 20%;
    float: right;
    border: 1px solid #424242;
}

aside h3 {
    color: #a5a5a5;
    text-align: center;
}

aside li {
    width: 60%;
    padding-left: 5px;
    border-bottom: 1px solid #424242;
    margin-bottom: 15px;
}

aside a {
    font-size: 1.2em;
}

main section {
    width: 60%;
}

main section h1 {
    letter-spacing: .3em;
}

.nameTitle {
    font-size: 40px;
    text-transform: uppercase;
    padding-bottom: 20px;
    margin-bottom: 0;
    border-bottom: 1px solid #424242;
    line-height: 40px;
}

.subTitle {
    display: inline-block;
    font-weight: normal;
    letter-spacing: .2em;
    margin-bottom: .6em;
}

.myInfo {
    text-align: right;
    font-size: 16px;
}

.myInfo:last-child {
    padding-bottom: 10px;
    border-bottom: 1px solid #424242;
}

footer {
    text-align: center;
    margin-top: 200px;
    width: 60%;
}

footer div a {
    font-size: 30px;

}

footer div .midIcon{
    margin: 0 25px 0 25px;
}

footer p {
    color: #888888;
    margin-top: 100px;
}

a {
    text-decoration: none;
    transition: .9s;
    color: #dfdfdf;
}

a:hover {
    color: #b60303;
}