body {
    margin: 0;
    padding: 0;
    font-family: sans-serif;
    background-color: #4d4d4d;
}

header {
    background-color: #2b2b2b;
}

header nav h2 {
    position: absolute;
    text-align: center;
    color: #eeffee;
    width: 100%;
    margin: -60px auto;
    font-size: 3em;
    font-weight: normal;
    letter-spacing: .3em;
    text-transform: uppercase;
}

header label {
    color: #ffffff;
    font-size: 6em;
    padding: 10px 20px;
    display: inline-block;
    border-right: 1px solid #4d4d4d;
    transition: .7s;
}

header label:active {
    cursor: pointer;
    color: #000;
    background-color: #ff5900;
}

.menu ul {
    list-style: none;
    margin-top: 0;
    margin-left: -40%;
    padding: 0;
    position: absolute;
    width: 40%;
    display: flex;
    flex-direction: column;
    background-color: #2b2b2bde;
    transition: .7s;
}

.menu li a {
    display: block;
    padding: 15px 20px;
    font-size: 4em;
    color: #eeffee;
    text-decoration: none;
    transition: .7s;
    border-top: 1px solid #4d4d4d;
}

.menu li a:hover {
    color: #000;
    background-color: #ff5900;
}

.mainContainer {
    flex-direction: column;
    justify-content: center;
    text-align: center;
    width: 80%;
    margin: 50px auto;
    padding: 0 10px;
    color: #c2c2c2;
}

.mainContainer h1 {
    font-size: 4em;
}

.mainContainer p {
    font-size: 2em;
    letter-spacing: .1em;
}

.mainContainer img {
    max-width: 100%;
}

#buttonMenu {
    display: none;
}

#buttonMenu:checked ~ .menu ul{
    margin-left: 0;
}

@media(min-width: 800px)